@mixin inline-flex-al-jf() {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin tel {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin table {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin ratio {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}
