.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--banner-background-color);
}

.page-footer__flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
  }
}

.page-footer__contacts-container {
  margin-bottom: 60px;
  @include table {
    display: flex;
  }
  @include desktop {
    margin-bottom: 0;
  }
}

.contacts-container--flex-element:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @include table {
    margin-bottom: 0;
    margin-right: 165px;
  }
  @include desktop {
    margin-right: 70px;
    align-items: flex-start;
  }
}

.page-footer__form-container {
  @include desktop {
    margin-left: auto;
  }
}
