.values__list {
  @include table {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @include desktop {
    flex-wrap: nowrap;
  }
}

.values__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.values__item {
  @include table {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.values {
  padding-bottom: 0;
}

.values__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.values__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.value__icon-container {
  @include inline-flex-al-jf();
  width: 100%;
  height: 120px;
  @include table {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }

  margin-bottom: 30px;

  background-color: var(--secondary-background-color);
}

.value__icon {
  display: block;
}
